<% if @user %>
 <div class="">
	<legend><%= @user.name %></legend><br>
	<span class="pull-left">
	<%= link_to "Linkedin Profile" , @user.lurl %>
    </span>
	<span class="pull-right">
	<%= image_tag @user.img, :size => "100x100",:class => "img-circle"%><br>
    </span>

	<span class="text-center span8 inline">
 
	<p class="span3">Jobs posted</p> <span class="span3"> <%= @numprojects %></span><br><hr>
	<p class="span3">Jobs bidded</p><span class="span3"><%=   @numjobsbided  %></span><br><hr>
	<p class="span3">Jobs completed</p> <span class="span3"><%=   @jobcomp  %></span><br><hr>

	</span>
 </div>
<% end %>