<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Jtype:</b>
  <%= @job.jtype %>
</p>

<p>
  <b>Desc:</b>
  <%= @job.desc %>
</p>

<p>
  <b>Coins:</b>
  <%= @job.coins %>
</p>

<p>
  <b>Expiry:</b>
  <%= @job.expiry %>
</p>

<p>
  <b>Jtime:</b>
  <%= @job.jtime %>
</p>

<p>
  <b>User:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @job.grade %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Category:</b>
  <%= @job.category %>
</p>

<p>
  <b>Completedby:</b>
  <%= @job.completedby %>
</p>

<% if user_signed_in? %>
    <% if current_user.id == @job.user_id %>
        <% if @biddetails %>
          <% @biddetails.each do |bd| %>
           <div>
            <p><%= bd["coins"] %></p>
            <p><%= bd["by"] %></p>
            <%= image_tag(bd["userimage"]) %>
           </div>
          <% end %>
        <% else %>
         <p> no offers till now </p>
        <% end %>
    <% else %>
        <%= form_tag("/bid", :method => "post") do %>
        <%= label_tag(:coins, "I will do this for :") %>
        <%= text_field_tag(:coins) %>
        <%= hidden_field_tag(:job_id, @job.id) %>
        <%= submit_tag("Bid") %>
        <% end %>
    <% end %>
<% end %>





<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
