<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Jtype:</b>
  <%= @job.jtype %>
</p>

<p>
  <b>Desc:</b>
  <%= @job.desc %>
</p>

<p>
  <b>Coins:</b>
  <%= @job.coins %>
</p>

<p>
  <b>Expiry:</b>
  <%= @job.expiry %>
</p>

<p>
  <b>Jtime:</b>
  <%= @job.jtime %>
</p>

<p>
  <b>User:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @job.grade %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Category:</b>
  <%= @job.category %>
</p>

<p>
  <b>Completedby:</b>
  <%= @job.completedby %>
</p>

<% @job.tags.any? %>
  <% @job.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>


<% if user_signed_in? %>
   
   <% if @usr == "owner" %>
      <% if @acceptflag == "accepted" %>
          <table class="table table-striped">
            <tr>
              <td>coins</td>
              <td>by</td>
              <td>action1</td>
              <td>action2</td>
            </tr>
            <tr>
              <td><%= @acceptedbid["coins"] %></td>
              <td><%= image_tag(@acceptedbid["userimage"], :size => "40x40") %></td>
              <td><%= link_to 'complete' , "/complete/#{@acceptedbid['id']}" %></td>
              <td><%= link_to 'reject' , "/reject/#{@acceptedbid['id']}" %></td>
            </tr>

          </table>

      <% elsif @acceptflag == "completed" %>
          <table class="table table-striped">
            <tr>
              <td>coins</td>
              <td> DID by</td>
              
            </tr>
            <tr>
              <td><%= @acceptedbid["coins"] %></td>
              <td><%= image_tag(@acceptedbid["userimage"], :size => "40x40") %></td>
            </tr>

          </table>
      <% else %> 
       
              <% if @biddetails %>
                  <table class="table table-striped">
                    <tr>
                      <td>coins</td>
                      <td>by</td>
                      <td>action</td>
                    </tr>
                    <% @biddetails.each do |bd| %>
                     <tr>
                      <td><%= bd["coins"] %></td>
                      <td><%= image_tag(bd["userimage"], :size => "40x40") %></td>
                       <td><%= link_to 'accept' , "/accept/#{bd['id']}" %></td>
                     </tr>
                    <% end %>
                  </table>
            <% else %>
                  <p> No offers till now </p>
            <% end %>
            <%= render 'disqus' %>
      <% end %> 
    <% elsif @usr == "bidder" %>
         <p> Your Bid amount is <%= @c %></p>
         <% if @status == -1 %>
              <p>Please wait for the Owner's response</p>
         <% elsif @status == 1 %>
              <p>Please complete and submit the task asap</p>
         <% elsif @status == 2 %>
              <p>Oops, try your luck with some other</p>
         <% elsif @status == 0 %>
              <p>Congrats.................</p>
         <% end %>
         <%= render 'disqus' %>
     <% elsif @usr == "general" %>
        <p>Number of Bids, so far is <%= @bidcount %></p>
        <%= form_tag("/bid", :method => "post") do %>
        <%= label_tag(:coins, "I can do this for :") %>
        <%= text_field_tag(:coins) %>
        <%= hidden_field_tag(:job_id, @job.id) %>
        <%= submit_tag("Bid") %>
        <% end %>

        <p></p>
   <% end %>

<% else %>
   <p>Number of Bids, so far is <%= @bidcount %></p>
   <p> Login to bid for this job</p>
<% end %>


