<p id="notice"><%= notice %></p>
<fieldset>
 <legend class="span8">Details of Job</legend>
 <ul class="unstyled span9 inline">
  <li><b class="span3">Title</b><span class="span3"><%= @job.title %></span> </li>
   <li><b class="span3">Job Type</b><span class="span3">
    
    <% if @job.jtype == 1 %>
     Developer
    <%elsif @job.jtype == 2 %>
     Designer
    <%end%>

  </span> </li>
 <li><br><b class="span3">Job Description</b><br>
  <span class="span6"><%= @job.desc %></span> </li>

  <li><br><br><b class="span3">Coins</b>
  <span class="span3"><%= @job.coins %></span> </li>

  <li><b class="span3">Grade</b>
  <span class="span3"><%= @job.grade %></span> </li>

  <li><b class="span3">Expiry</b>
  <span class="span3"><%= @job.expiry.strftime("%d %b") %></span> </li>

<li><b class="span3">Complete Before</b>
  <span class="span3"><%= @job.jtime.strftime("%d %b") %></span> </li>

 </ul>

<br>
</fieldset>
<br><hr><span class="span3">Tags</span><br>
<table class="table-condensed">
  <tr>
  <% @job.tags.any? %>
  <% @job.tags.each do |tag| %>
  <td style="padding-left:20px;">
  <span class="span1"> </span><%= link_to tag.name, tagged_url(:tag => tag.name) %>
  </td>
  <% end %>
  </tr>
</table><hr>


<% if user_signed_in? %>
   
   <% if @usr == "owner" %>
   <div style="background-color:#253338; color:white;">
      <% if @acceptflag == "accepted" %>
          <table class="table table-condensed">
            <tr>
              <td>coins</td>
              <td>by</td>
              <td>action1</td>
              <td>action2</td>
            </tr>
            <tr>
              <td><%= @acceptedbid["coins"] %></td>
              <td><%= image_tag(@acceptedbid["userimage"], :size => "40x40") %></td>
              <td><%= link_to 'complete' , "/complete/#{@acceptedbid['id']}" %></td>
              <td><%= link_to 'reject' , "/reject/#{@acceptedbid['id']}" %></td>
            </tr>

          </table>

      <% elsif @acceptflag == "completed" %>
          <table class="table table-condensed">
            <tr>
              <td>coins</td>
              <td> DID by</td>
              
            </tr>
            <tr>
              <td><%= @acceptedbid["coins"] %></td>
              <td><%= image_tag(@acceptedbid["userimage"], :size => "40x40") %></td>
            </tr>

          </table>
      <% else %> 
       
              <% if @biddetails %>
                  <table class="table table-condensed">
                    <tr>
                      <td>coins</td>
                      <td>by</td>
                      <td>action</td>
                    </tr>
                    <% @biddetails.each do |bd| %>
                     <tr>
                      <td><%= bd["coins"] %></td>
                      <td><a href='/profile/<%= bd["by"]%>'><%= image_tag(bd["userimage"], :size => "40x40") %></a></td>
                       <td><%= link_to 'accept' , "/accept/#{bd['id']}" %></td>
                     </tr>
                    <% end %>
                  </table>
            <% else %>
                  <p> No offers till now </p>
            <% end %>
        </div><hr>
            <%= render 'disqus' %>
      <% end %> 
    <% elsif @usr == "bidder" %>
    <div style="background-color:#253338; color:white;">
         <p> Your Bid amount is <%= @c %></p>
         <% if @status == -1 %>
              <p>Please wait for the Owner's response</p>
         <% elsif @status == 1 %>
              <p>Please complete and submit the task asap</p>
         <% elsif @status == 2 %>
              <p>Oops, try your luck with some other</p>
         <% elsif @status == 0 %>
              <p>Congrats.................</p>
         <% end %>
    </div><hr>
         <%= render 'disqus' %>
     <% elsif @usr == "general" %>
      <div style="background-color:#253338; color:white;">
        <p class="span8">Number of Bids, so far is <%= @bidcount %></p>
        <%= form_tag("/bid", :method => "post") do %>
        <%= label_tag(:coins, "I can do this for ") %>
        <%= text_field_tag(:coins) %>
        <%= hidden_field_tag(:job_id, @job.id) %>
        <%= submit_tag("Bid") %>
        <% end %>

        <p></p>
      </div>
   <% end %>

<% else %>
<div style="background-color:#253338; color:white;">
   <p>Number of Bids, so far is <%= @bidcount %></p>
   <p> Login to bid for this job</p>
</div>
<% end %>


