<h3>Home</h3>
<%= will_paginate @jobs %>
<% @jobs.each do |job| %>
  <p><%=link_to job.title, job %></p>
  <p><%= truncate(job.desc, :length => 200).html_safe %></p>
 <p>Coins: <%= job.coins %></p>
 <p>Expires on <%= job.expiry %></p>
 ===================================
<% end %>
<%= will_paginate @jobs %>
