<ul class="nav">
  
  <% if user_signed_in? %>
    <li>
      <a href="/profile/<%=current_user.id %>">
        <%= image_tag current_user.img, :size => "30x30",:class => "img-circle" %></a></li>
    <li>  <%= link_to 'My Jobs', myjobs_path %>    </li>
    <li>    <%= link_to 'My Projects', myprojects_path %>    </li>
    <li>  <%= link_to 'Create Project', '/jobs/new' %></li>
    <li>  <%= link_to 'Inbox', '#' %></li>
    <li>    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>    </li>

     <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>

  <% else %>
  <li><a href="#why">Why Tudlr </a></li>
  <li><a href="#how">How it works</a> </li>
  <li><%= link_to "Login", user_omniauth_authorize_path(:linkedin) %></li>
  <% end %>
</ul>